<div class="container p-5">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="text-center">


                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow" src="https://source.unsplash.com/rDEOVtE7vOs/600x600"
                            alt="Another Image zoom-on-hover effect">
                    </div>

                </div>

                <div class="card-body" *ngFor="let item of taxPro">
                    <div class="clearfix mb-3">




                    </div>


                    <div class="my-2 text-center" >

                        <h1>{{item.taxProName}}</h1>

                    </div>
                    <div class="mb-3">

                        <h2 class="text-uppercase text-center role">{{item.consultentType}}</h2>
                        <h3 class="text-uppercase text-center role">{{item.stateName}}</h3>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                            </ul>

                        </div>
                    </div>


                </div>
            </div>
        </div>